BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
ContinuationIndentWidth: 8

PenaltyBreakAssignment: 4

PenaltyReturnTypeOnItsOwnLine: 150

AllowShortFunctionsOnASingleLine: InlineOnly

AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
BinPackArguments: false

AlwaysBreakTemplateDeclarations: Yes

AllowShortIfStatementsOnASingleLine: WithoutElse

SortIncludes: false